col.width_001 { width:   1%; }
col.width_002 { width:   2%; }
col.width_003 { width:   3%; }
col.width_004 { width:   4%; }
col.width_005 { width:   5%; }
col.width_006 { width:   6%; }
col.width_007 { width:   7%; }
col.width_008 { width:   8%; }
col.width_009 { width:   9%; }
col.width_010 { width:  10%; }
col.width_011 { width:  11%; }
col.width_012 { width:  12%; }
col.width_013 { width:  13%; }
col.width_014 { width:  14%; }
col.width_015 { width:  15%; }
col.width_016 { width:  16%; }
col.width_017 { width:  17%; }
col.width_018 { width:  18%; }
col.width_019 { width:  19%; }
col.width_020 { width:  20%; }
col.width_021 { width:  21%; }
col.width_022 { width:  22%; }
col.width_023 { width:  23%; }
col.width_024 { width:  24%; }
col.width_025 { width:  25%; }
col.width_026 { width:  26%; }
col.width_027 { width:  27%; }
col.width_028 { width:  28%; }
col.width_029 { width:  29%; }
col.width_030 { width:  30%; }
col.width_031 { width:  31%; }
col.width_032 { width:  32%; }
col.width_033 { width:  33%; }
col.width_034 { width:  34%; }
col.width_035 { width:  35%; }
col.width_036 { width:  36%; }
col.width_037 { width:  37%; }
col.width_038 { width:  38%; }
col.width_039 { width:  39%; }
col.width_040 { width:  40%; }
col.width_041 { width:  41%; }
col.width_042 { width:  42%; }
col.width_043 { width:  43%; }
col.width_044 { width:  44%; }
col.width_045 { width:  45%; }
col.width_046 { width:  46%; }
col.width_047 { width:  47%; }
col.width_048 { width:  48%; }
col.width_049 { width:  49%; }
col.width_050 { width:  50%; }
col.width_051 { width:  51%; }
col.width_052 { width:  52%; }
col.width_053 { width:  53%; }
col.width_054 { width:  54%; }
col.width_055 { width:  55%; }
col.width_056 { width:  56%; }
col.width_057 { width:  57%; }
col.width_058 { width:  58%; }
col.width_059 { width:  59%; }
col.width_060 { width:  60%; }
col.width_061 { width:  61%; }
col.width_062 { width:  62%; }
col.width_063 { width:  63%; }
col.width_064 { width:  64%; }
col.width_065 { width:  65%; }
col.width_066 { width:  66%; }
col.width_067 { width:  67%; }
col.width_068 { width:  68%; }
col.width_069 { width:  69%; }
col.width_070 { width:  70%; }
col.width_071 { width:  71%; }
col.width_072 { width:  72%; }
col.width_073 { width:  73%; }
col.width_074 { width:  74%; }
col.width_075 { width:  75%; }
col.width_076 { width:  76%; }
col.width_077 { width:  77%; }
col.width_078 { width:  78%; }
col.width_079 { width:  79%; }
col.width_080 { width:  80%; }
col.width_081 { width:  81%; }
col.width_082 { width:  82%; }
col.width_083 { width:  83%; }
col.width_084 { width:  84%; }
col.width_085 { width:  85%; }
col.width_086 { width:  86%; }
col.width_087 { width:  87%; }
col.width_088 { width:  88%; }
col.width_089 { width:  89%; }
col.width_090 { width:  90%; }
col.width_091 { width:  91%; }
col.width_092 { width:  92%; }
col.width_093 { width:  93%; }
col.width_094 { width:  94%; }
col.width_095 { width:  95%; }
col.width_096 { width:  96%; }
col.width_097 { width:  97%; }
col.width_098 { width:  98%; }
col.width_099 { width:  99%; }
col.width_100 { width: 100%; }
